In [2]:
import numpy as np
import pandas as pd

In [3]:
myIndex = [ ('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]

In [4]:
myIndex

[('Slot1', 1),
 ('Slot1', 2),
 ('Slot1', 3),
 ('Slot2', 1),
 ('Slot2', 2),
 ('Slot2', 3)]

In [5]:
myIndex = pd.MultiIndex.from_tuples(myIndex)

In [6]:
myIndex

MultiIndex([('Slot1', 1),
            ('Slot1', 2),
            ('Slot1', 3),
            ('Slot2', 1),
            ('Slot2', 2),
            ('Slot2', 3)],
           )

In [11]:
dataFrame = pd.DataFrame(np.random.randn(6, 2), index=myIndex, columns=['Res1', 'Res2'])

In [12]:
dataFrame

             Res1      Res2
Slot1 1 -0.095236 -0.518465
      2  0.151107  1.550523
      3 -0.081570  0.633288
Slot2 1  0.043947  0.821764
      2  2.429416  1.021334
      3  0.636790  1.295319

In [13]:
dataFrame['Res1']

Slot1  1   -0.095236
       2    0.151107
       3   -0.081570
Slot2  1    0.043947
       2    2.429416
       3    0.636790
Name: Res1, dtype: float64

In [14]:
dataFrame['Res2']

Slot1  1   -0.518465
       2    1.550523
       3    0.633288
Slot2  1    0.821764
       2    1.021334
       3    1.295319
Name: Res2, dtype: float64

In [15]:
dataFrame.loc['Slot1']

       Res1      Res2
1 -0.095236 -0.518465
2  0.151107  1.550523
3 -0.081570  0.633288

In [17]:
dataFrame.loc['Slot1']['Res1']

1   -0.095236
2    0.151107
3   -0.081570
Name: Res1, dtype: float64

In [21]:
dataFrame.loc['Slot1'].loc[2]

Res1    0.151107
Res2    1.550523
Name: 2, dtype: float64

In [34]:
dataFrame.index.names

FrozenList(['', ''])

In [35]:
dataFrame.index.names = ['Slots', 'i']

In [36]:
dataFrame

             Res1      Res2
Slots i
Slot1 1 -0.095236 -0.518465
      2  0.151107  1.550523
      3 -0.081570  0.633288
Slot2 1  0.043947  0.821764
      2  2.429416  1.021334
      3  0.636790  1.295319

In [37]:
dataFrame.index.names

FrozenList(['Slots', 'i'])

In [38]:
dataFrame.xs('Slot1')

       Res1      Res2
i
1 -0.095236 -0.518465
2  0.151107  1.550523
3 -0.081570  0.633288

In [41]:
dataFrame.xs('Slot1').xs(2)

Res1    0.151107
Res2    1.550523
Name: 2, dtype: float64

In [45]:
dataFrame.xs(2, level='i')

           Res1      Res2
Slots
Slot1  0.151107  1.550523
Slot2  2.429416  1.021334